body{
    display: flex;
    background-color:  aliceblue;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    flex-direction: column;
}
#align{
    display: flex;
    background-color: aliceblue;
    height: 100vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
}
 #bemvindo{
    background-color: rgb(143, 202, 182);
    width: 40%;
    height: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    flex-direction: column;
   
    /* font-size: 40px; */
    
} 
#txt_bv{
    font-size: 30px;
    border:  2px solid white;
    padding: 15px;
    border-radius: 20px;
}
#div_form{
    background-color: white;
    display: flex;
    padding: 20px;
    height: 60%;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#txt_adm{
    font-size: 30px;
    color: rgb(143, 202, 182);;
    
}

form{
    
    font-size: 20px;
}
input{
    border-radius: 10px;
    padding: 15px;
    border: none;
    width: 80%;
    background-color: rgb(217, 217, 217);
    

}

#div_enviar{
   
    width: 100;
    justify-content: center;
    display: flex;
}

#enviar{
    background-color: rgb(143, 202, 182);
    padding: 10px;
    color: white;
    font-size: 20px;
    
}