body{
    display: flex;
    background-color:  rgb(72, 107, 95);
    justify-content: center;
    align-items: center;
    font-family: Arial;
    flex-direction: column;
}
form{
    color:white;
}
#align{
    display: flex;
    background-color: rgb(72, 107, 95);
    height: 100vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#txtCad{
    color: rgb(143, 202, 182);
    font-weight: bold;
    font-size: 30px;
}
input{
    border-radius: 10px;
    padding: 15px;
    border: none;
    width: 80%;
    background-color: rgb(217, 217, 217);
    

}

#div_enviar{
   
   
    justify-content: center;
    display: flex;
}

#enviar{
    background-color: rgb(143, 202, 182);
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 50%;
    transition: 0.5s;
    
}
#enviar:hover{
    background-color: white;
    color:  rgb(72, 107, 95);
    border-color: rgb(72, 107, 95);
    font-size: 18px;
    
}