body{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}
#align{
    display: flex;
    background-color: chocolate;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
#div_form{
    background-color: blue;
    display: flex;
    padding: 20px;
    height: 50vh;
    width: 20vw;
    border-radius: 30px;
}

form{
    font-family: Arial;
    font-size: 20px;
}
input{
    border-radius: 10px;
    padding: 5px 3px 5px 3px;
    border-color: solid 5px black;
    

}