.nav_div {
    width: 80%;
}

* {
    --primary-color: #1f293b;
    --secondary-color: #e8491d;
    --terciary-color: #8997b7;
    --gray-color: #c4c4c8;
    --lightgray-color: #d3d3d4;
    --darkgray-color: #8d8d8d;
    --hover-color: #fff;
    --white-color: #f5f5f5;
    --backColor: #1f293b;
    /* --backColor: #384972; */
    /* --backColor: #021954; */
    --blue-color: #021954;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}



.header {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header2 {
    display: none;
}


.header img {
    height: 50px;
}

.header2 img {
    height: 50px;
}

.header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;

}
.disabled{
    opacity: 0.6;
    position: inherit;
}

.header nav a.active {
    border-bottom: 2px solid #ff4500;
}

.header nav a:hover {
    border-bottom: 2px solid #ff4500;
}

@media (max-width: 800px) {
    .header2 {
        display: flex;
        /* width: 100%; */
        background-color: var(--primary-color);
        color: white;
        justify-content: start;
        gap: 3rem;
        align-items: center;
        padding: 10px 20px;
    }

    .header2 .i_menu {
        height: 30px;
        transition: 0.2s;
    }
    .header2 .i_close {
        display: none;
        height: 30px;
        
    }

    .header {
        width: 0;
        background-color: #26324a;
        color: white;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        position: fixed;
        z-index: 2;
        overflow-x: hidden;
        transition: 0.3s ease;
    }


    .header .logo_desktop {
        display: none;
    }

    .nav_div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
    }

}