*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body{
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
    color: inherit;
}

/* ------------------------------------nav-------------------------------- */

.navbar{
    display: flex;
    z-index: -3;
    width: 100%;
    height: 3.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: space-around;
}


.btn {
    font-size: 105%;
    background: transparent;
    border: none;
    z-index: 2;
    padding: 1em 1.5em;
    color: #071A5F;
    /* text-transform: uppercase; */
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

/* linha do bottom */
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    border-radius: 10px;
    background-color: #071A5F;
    transition: 0.5s ease;
}

.btn:hover {
    color: #f5f5f5;
    transition-delay: 0.3s;
}

.btn:hover::before {
    width: 100%;
}


/* background subindo */
.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #071A5F;
    transition: 0.4s ease;
    z-index: -1;
}

.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}
 



.itens{
    list-style-type: none;
    display: flex;
    padding-right: 10rem;
}


.btn-nav{
    background-color: #f5f5f5;
    padding: 0.5rem;
    color: #071A5F;
    font-size: 100%;
    border: solid 2px #f5f5f5;
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
}

.btn-nav:hover{
    background-color: #071A5F;
    color: #f5f5f5;  
   
}

/* ------------------------------------nav-------------------------------- */


.container{
    display: flex;
    margin: 3rem;
    
}

h1{
    color: #071A5F;
    font-size: 3rem;
    padding: 0 2rem;
    
}
h3{
    padding: 0 2rem;
    font-size: 1.7rem;
    color: #808080;
}

.con-title{
    width: 50%;
}






#componentes{
    display: flex;
    padding: 2rem;
}



#table{
    max-height: 400px;
    width: auto;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    
    
   
}

table,td,th {
    
    border-collapse: collapse;
}
    
th, td{
    
    padding: 14px 16px;
    text-align: center;
}



th{
    text-align: center;
    /* display: flex; */
    color: white;
    background-color: #071A5F   ;
    
    /* align-items: center;
    justify-content: center; */
}

td{
    flex-wrap: wrap;
    width: auto;
    
}

tr{
    
    background-color: white;

}

/* linha sim linha não, cor */
tr:nth-child(even) {
    background-color: #ebeaea;
} 
tr:hover{
    transition: 0.5s;
    background-color: rgb(120, 141, 233);
}

tr.colorir {
    transition: 0.3s;
    background-color:rgb(95, 230, 83);
    
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.tabela_dados{
    text-align: center;
    height: 100%;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}

.dados{
    align-self: center;
    
}
