*{
    margin: 0;
    padding: 0;
    font-family: Arial;
  
}

body{
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
    color: inherit;
}
.pontos{
    width: 1rem;
    font-size: 1.7rem;
    color: #808080;
    position: absolute;
}
/* ------------------------------------nav-------------------------------- */

.navbar{
    display: flex;
    z-index: -3;
    width: 100%;
    height: 3.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: space-around;
}


.btn {
    font-size: 105%;
    background: transparent;
    border: none;
    z-index: 2;
    padding: 1em 1.5em;
    color: #071A5F;
    /* text-transform: uppercase; */
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

/* linha do bottom */
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    border-radius: 10px;
    background-color: #071A5F;
    transition: 0.5s ease;
}

.btn:hover {
    color: #f5f5f5;
    transition-delay: 0.3s;
}

.btn:hover::before {
    width: 100%;
}


/* background subindo */
.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #071A5F;
    transition: 0.4s ease;
    z-index: -1;
}

.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}
 



.itens{
    list-style-type: none;
    display: flex;
    padding-right: 10rem;
}


.btn-nav{
    background-color: #f5f5f5;
    padding: 0.5rem;
    color: #071A5F;
    font-size: 100%;
    border: solid 2px #f5f5f5;
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
}

.btn-nav:hover{
    background-color: #071A5F;
    color: #f5f5f5;  
   
}

/* ------------------------------------nav-------------------------------- */

.container{
    display: flex;
    margin: 3rem;
    transition: 1s;
    
}

h1{
    color: #071A5F;
    font-size: 3rem;
    padding: 0 2rem;
    
}
h3{
    padding: 0 2rem;
    font-size: 1.7rem;
    color: #808080;
}

.con-title{
    width: 50%;
}

.img_div{
    width: 90%;
    
    
}
.img{
    width: 120%;
    
   
    
    
}

#img_aviso_tr{
    filter: opacity(0%);
}

.con-warning{
    width: 60%; 
}

.avisos_div{
    width: 100%;
    height: 2.2rem;
    
}


.avisos{
    height: 100%;
    display: flex;
    margin-bottom: 1rem ;
    
}
#avisos_tr{
    height: 100%;
    display: flex;
    
    margin-top: 1rem;
    
}

.iconAviso{
    height: 100%;
    padding-right: 1rem;
}


#aviso_label{
    color: #CA1717;
    font-weight: bold;
    font-size: 100%;
}

#atencao_label{
    color: #bdae29;
    font-weight: bold;
    font-size: 100%;
}

.dados_aviso{
    height: 100%;
    width: 80%;
   
    border-radius: 10px;
    border: solid 2px #CA1717;
    display: flex;
    overflow: hidden;
    
    font-size: 100%;
   
    justify-content: space-between;
    
}
#tr{
    border: none;
}


.atencao_div{
    margin: 4rem 0;
    width: 100%;
    height: 2.2rem;
}

.dados_atencao{
    
    height: 15rem;
    width: 80%;
    background-color: #f5e661;
    border-radius: 10px;
    border: solid 2px #e4d232;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    overflow: hidden;
    
}

#seta{
    height: 60%;
    rotate: 100px;
}

.divider{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8888;
    border: 1px solid #CA1717;
   
}
.divider_tr{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #cfcfcf;
    text-align: center;
    
    
   
}
.divider_{
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #e4d232;
    border-top: 2px solid #e4d232;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}
.row_atencao{
  
    height: 3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.row_atencao:nth-child(even){
    background-color: #fffec1;
}


.divider:nth-child(even) {
    background-color: #ffc1c1;
} 