body{
    display: flex;
    background-color:  aliceblue;
    justify-content: space-between;
    align-items: center;
    font-family: Arial;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    
}

#align{
    display: flex;
    background-color: aliceblue;
    height: 100vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
}
#top{
    /* background-color: ; */
    border-bottom:solid 2px rgb(143, 202, 182);  
    padding: 10px;
    width: 100vw;
    text-align: center;
    /* color: white; */
    
}
#rodape{
    border-top:solid 2px rgb(143, 202, 182);  
    padding: 10px;
    width: 100vw;
    text-align: center;
    /* color: white; */
    
}
 #bemvindo{
    background-color: aliceblue;
    width: 50%;
    height: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    flex-direction: column;
   
    /* font-size: 40px; */
    
} 
#txt_bv{
    font-size: 30px;
    border:  2px solid white;
    padding: 15px;
    border-radius: 20px;
}
#div_form{
    background-color: aliceblue;
    display: flex;
    padding: 20px;
    height: 60%;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#txt_adm{
    font-size: 30px;
    color: rgb(143, 202, 182);
    
}

input{
    border-radius: 10px;
    padding: 15px;
    border: none;
    width: 80%;
    background-color: rgb(217, 217, 217);
    

}
a{
    text-decoration: none;
    color: inherit;
}

button{
    font-size: 20px;
    border:  2px solid white;
    padding: 15px;
    border-radius: 20px;
    

}

#btn1{
    background-color: rgb(143, 202, 182);;
    color:  white;
    border-color: white;
    transition: 0.5s;
    white-space: nowrap;
    
}
#btn1:hover{
    background-color: white;
    color:  rgb(72, 107, 95);
    border-color: rgb(72, 107, 95);
    font-size: 24px;
    white-space: nowrap;
    
    
   
}

#btn2{
    background-color: rgb(143, 202, 182);
    color:  white;
    border-color: white;
    transition: 0.5s;
    white-space: nowrap;
    
}
#btn2:hover{
    background-color: white;
    color:  rgb(72, 107, 95);
    border-color: rgb(72, 107, 95);
    font-size: 24px;
    white-space: nowrap;
}