/* 
branco: #f5f5f5
preto: #0f0f0f
vermelho: #a10000
*/

*{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}


body{
    background-color: #f5f5f5;
}

a{
    text-decoration: none;
    color: inherit;
}

.img{
    height: 100%;
    object-fit: contain;
}
.img2{
    width: 100%;
    object-fit: cover;
}

.FullImg_div{
    height: 30rem;
    overflow: hidden;
    margin: 2rem;
    margin-bottom:6rem;
    
}

.icon{
    height: 2rem;
    
}

.alingH{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alingV{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}

/* -------------------top start------------------------- */
.box_nav .alingH{
    height: 7.5rem;
    padding: 1rem;
    padding-bottom: 0.5;
    
}

.box_nav{
    background-color: #0f0f0f;
    height: 11rem;   
}

.logo_div{  
    height: 8rem;
   
}


#input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 11rem;
    transform: translate(0, -16px);
   
}

.lineBusc{
    
    border: 2px solid #a10000;
    width: 80%;
    height: 1.5rem;
    padding: 0.3rem;
    position: absolute;
    top: 5;
    transform: translate(-10px, -8px);
    transition: .3s linear;
    background-color: transparent;
   
}

#inputBusc {
    width: 80%;
    height: 1.2rem;
    padding: 0.5rem;
    transition: .2s linear;
    font-size: 16px;
    letter-spacing: 2px;
    z-index: 1;
    background-color: #dfdede;
    border: 2px solid #a10000;
}
  
#inputBusc:focus {
    outline: none;
    box-shadow: -7px -9px 0 0 #a10000;
}

/* -------------------top end------------------------- */


/* -------------------nav start------------------------- */
#sidenav{
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
}

#sidenav2{
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
}
#sidenav2 .user_div{
    color: #a10000;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
li {
    padding: 1rem 0;
    width: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid #a10000;
}
.sidenav a {
    color: #f5f5f5;
    text-decoration: none;
    
}
.sidenav a:hover {
    color: #a10000;
    font-weight: bold;
}

.sidenav button {
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    text-transform: uppercase;
    padding: 1rem;
   
}

.open-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1000;
}
.close-btn {
    position: absolute;
    top: 1rem;
    right: 10px;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    padding: 1rem;
  
}

nav .alingH{
    border-bottom: solid 2px #f5f5f5;
}

.logo_nav{
    height: 8rem;
    width: 4rem;
    position: absolute;
}
.user_div{
    display: flex;
    align-items: end;
    height: 1.4rem;
}
.user_div p{
   padding: 0 1rem;
}
/* -------------------nav end------------------------- */

.img_capa{ 
   height: 35vh;
   
}

.img_capa .img{
    object-fit: cover;
    width: 100%;
    position: relative;
    filter: brightness(50%);
 
}
 
/* -------------------destaques start------------------------- */
.destaques_div{
   
    width: 100%;
    height: 50rem;
}

.labeldestq_div{
    height: 3rem;
    font-size: 0.9rem;
    margin: 1rem;
    color: #2c2c2c;
    padding: .5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.carousel {
    position: relative;
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.cards-container {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    flex: 0 0 10.5rem; /* Largura fixa dos cards */
    margin: 0 10px;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 16rem;
    
   
}

.imgCard{
    width: 100%;
    height: 12rem;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    
}

.nomeP{
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #2c2c2c;
}



.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
    height: 2rem;
}


.prev-btn img{
    rotate: 180deg;
}

.next-btn {
    right: 10px;
    height: 2rem;
}



.FullImg_div img{
    filter: brightness(40%);
}
.lineFullImg{
    height: 30rem;
    width: 80%;
    border: 2px solid #a10000;
    position: absolute;
    z-index: -1;
    transform: translate(-1rem, 1rem);
}

.lineFullImg2{
    height: 30rem;
    width: 80%;
    border: 2px solid #a10000;
    position: absolute;
    z-index: -1;
    transform: translate(2rem, -1rem);
}


.FullImg_txt{
    height: 25rem;
    position: absolute;
    font-size: 140%;
    color: #f5f5f5;
    padding: 2rem;
    z-index: 2;
    text-transform: uppercase;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;

    
}
.FullImg_div button{
    text-transform: uppercase;
    border: 2px solid #f5f5f5;
    padding: 1rem;
    font-size: 70%;
    border-radius: 7px;
    background-color: transparent;
    color: #f5f5f5;
    transition: 0.3s;

}

.FullImg_div button:hover{
    border: 2px solid #a10000;
    color: #a10000;
    font-weight: bold;
    background-color: #f5f5f5;

}

/* -------------------destaques end------------------------- */
/* 
.btn{
    margin: 2rem;
    padding: 1.5rem;
    font-size: 100%;
} */




#verMaisBtn {
    padding: 1em 2em;
    border: none;
    margin: 2rem;
    border-radius: 5px;
    background-color: #0f0f0f;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #f5f5f5;
    transition: all 0.5s;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #0f0f0f;
    
  }
  
  #verMaisBtn:hover {
    color: #0f0f0f;
    transform: scale(1.1);
    outline: 2px solid #0f0f0f;
 
  }
  
  #verMaisBtn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #f5f5f5;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  #verMaisBtn:hover::before {
    width: 250%;
  }
  















/* -------------------rodape start------------------------- */
.rodape{
    margin-top: 3rem;
    background-color: #0f0f0f;
    height: 25rem;
    color: #f5f5f5;
}

.rodape .alingH{
    height: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0.5;
    
}
.rodape .alingV{
    
    display: flex;
    padding: 1rem;
    padding-bottom: 0.5rem;
    
    
}
.rodape .icon{
    height: 1.4rem;
    padding: .3rem 0;
    display: flex;
    align-items: center;
}

.rodape h5{
    padding-left: 1rem;  
    text-align: center;
}

.rodape p{   
    padding-left: 1rem;  
    font-size: 90%;
    padding-bottom: 0.5rem;
}

.rodape li {
    padding: 0.5rem;
    width: 100%;
    height: 1rem;
    text-transform: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a10000;
}

/* -------------------rodape end------------------------- */



@media only screen and (min-width: 980px) {
   

 }