
*{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}


body{
    background-color: #f5f5f5;
}

a{
    text-decoration: none;
    color: inherit;
}

.img{
    height: 100%;
    object-fit: contain;
}
.img2{
    width: 100%;
    object-fit: cover;
}
.img3{
    width: 7.5rem;
    object-fit: contain;
}

.FullImg_div{
    height: 30rem;
    overflow: hidden;
    margin: 2rem;
    margin-bottom:6rem;
    
}

.icon{
    height: 2rem;
    
}

.alingH{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alingV{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}

/* -------------------top start------------------------- */
.box_nav .alingH{
    height: 7.5rem;
    padding: 1rem;
    padding-bottom: 0.5;
    
}

.box_nav{
    background-color: #0f0f0f;
    height: 11rem;   
}

.logo_div{  
    height: 8rem;
   
}


#input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 11rem;
    transform: translate(0, -16px);
   
}

#inputBusc {
    width: 80%;
    height: 1.2rem;
    padding: 0.5rem;
    transition: .2s linear;
    font-size: 0.8rem;
    letter-spacing: 2px;
    z-index: 1;
    background-color: #dfdede;
    border: none;
}
  
#inputBusc:focus {
    outline: none;
    box-shadow: -7px -9px 0 0 #a10000;
}

/* -------------------top end------------------------- */


/* -------------------nav start------------------------- */
#sidenav{
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
}

#sidenav2{
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
}
#sidenav2 .user_div{
    color: #a10000;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
li {
    padding: 1rem 0;
    width: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid #a10000;
}
.sidenav a {
    color: #f5f5f5;
    text-decoration: none;
    
}
.sidenav a:hover {
    color: #a10000;
    font-weight: bold;
}

.sidenav button {
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    text-transform: uppercase;
    padding: 1rem;
   
}

.open-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1000;
}
.close-btn {
    position: absolute;
    top: 1rem;
    right: 10px;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    padding: 1rem;
  
}

nav .alingH{
    border-bottom: solid 2px #f5f5f5;
}

.logo_nav{
    height: 8rem;
    width: 4rem;
    position: absolute;
}
.user_div{
    display: flex;
    align-items: end;
    height: 1.4rem;
}
.user_div p{
   padding: 0 1rem;
}
p{
    padding: 0 1rem;
 }
/* -------------------nav end------------------------- */



.labeldestq_div{
    height: 3rem;
    margin-bottom: 2rem;
    background-color: #dfdede;
    color: #2c2c2c;
    padding: .5rem 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

}



/* ------------------- grade start------------------------- */




.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espaçamento entre os cards */
    justify-content: space-around;
}

  
.card {
    flex: 0 0 8rem; /* Largura fixa dos cards */
    margin: 0 10px;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 16rem;
    border-top: #2c2c2c 2px solid;
   
}
.card:hover{
    border-top: #a10000 2px solid;
}



.imgCard{
    width: 100%;
    height: 12rem;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    
}

.nomeP{
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #2c2c2c;
}

.precoP{
    font-size: 0.8rem;
}


.acoesCard{
    background-color: #00a10d;
    height: 2rem;
    display: flex;
    width: 9.5rem;
    position: absolute;
    bottom: 7.5rem;
    padding: 0 0.5rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    overflow-y: hidden;
    transition: 0.3s;
}
.card:hover .acoesCard{
    height: 2rem;
}
/* -------------------grade end------------------------- */




/* -------------------rodape start------------------------- */
.rodape{
    margin-top: 3rem;
    background-color: #0f0f0f;
    height: 25rem;
    
    color: #f5f5f5;
}

.rodape .alingH{
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0.5;
    
}



.rodape .alingV{
    
    display: flex;
    padding: 1rem;
    padding-bottom: 0.5rem;
    
    
}
.rodape .icon{
    height: 1.4rem;
    padding: .3rem 0;
    display: flex;
    align-items: center;
}

.rodape h5{
    padding-left: 1rem;  
    text-align: center;
    font-size: 0.8rem;
}

.rodape p{   
    padding-left: 1rem;  
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.rodape li {
    padding: 0.5rem;
    width: 100%;
    height: 1rem;
    font-size: 0.8rem;
    text-transform: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a10000;
}

/* -------------------rodape end------------------------- */



