

*{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}


body{
    background-color: #f5f5f5;
}

a{
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: auto;
}

.img{
    height: 100%;
    -webkit-height: 100%;
    -moz-height: 100%;
    -ms-height: 100%;
    object-fit: contain;
}
.img2{
    -webkit-width: 100%;
    -moz-width: 100%;
    -ms-width: 100%;
    width: 100%;
    object-fit: cover;
}
.img3{
    width: 100%;
    -webkit-width: 100%;
    -moz-width: 100%;
    -ms-width: 100%;
    -webkit-height: 100%;
    -moz-height: 100%;
    -ms-height: 100%;
    height: 100%;
    object-fit: cover;
}


.icon{
    height: 2rem;
    
}

.alingH{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.alingV{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}

.containerGeral{
    margin: 1.3rem;
    
}

#containerImgs{
    align-items: center;
    height: 20rem ;
    position: relative;
   
}

.miniImg{
    height: 6rem;
    width: 4.5rem;
    display: flex;
    margin: 0.5rem;
}
 
.maxImg{
    position: relative;
    height: 100%;
    width: 80%;
}

.like{
    position: absolute;
    margin: 1rem;
    height: 1.7rem;
    top: 0;
    right: 0;
}

.lineFullImg{
    height: 100%;
    width: 100%;
    border: 2px solid #a10000;
    position: absolute;
    top: 0;
    z-index: -1;
    
    transform: translate(0.5rem, -0.6rem);
}



.labelselct_div{
    height: 3rem;
    font-size: .8rem;
    color: #2c2c2c;
    padding: .5rem 0rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column; 
    
}

select, input{
   margin: 1rem 1rem 1rem 0rem; 
   padding: 0.5rem;
   border: 1px solid #f5f5f5;
   outline: none;
   border-top: #a10000 2px solid;
   color: #2c2c2c;
   border-radius: 5px;

}
#quantidade{
    width: 30%;
}

.compra_div .alingH{
    justify-content: space-between;
}

.btn_compra{
    padding: 0.7rem;
    height: 3rem;
    background-color: #00a10d;
    border: none;
    color: #f5f5f5;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: 0.3s;
    border-radius: 4px;
}
.btn_compra:hover{
    background-color: #004b06;
}

#comprar_btn{
    width: 70%;
}

#addsacola_btn{
    width: 20%;
    padding: 0.6rem;
}

.descricao .alingH{
    height: 1.5rem;
    border: none;
   
    font-size: .8rem;
    color: #2c2c2c;
    padding: .5rem;
    text-transform: uppercase;
    margin-top: 1rem;
    justify-content: space-between;
   
}

#setaDesc{
    height: 1.2rem;
    rotate: 90deg;
    transition: 0.3s;
}
.txt{
    color: #2c2c2c;
    font-size: 0.7rem;
    border-bottom: 2px solid #0f0f0f;
    overflow-y: hidden;
    height:0rem;
    transition: 1s;
}

.alingH:hover #setaDesc{
    rotate: -90deg;
}

.alingH:hover + .txt{
    height: 16.5rem;
}






/* -------------------rodape start------------------------- */
.rodape{
    margin-top: 3rem;
    background-color: #0f0f0f;
    height: 25rem;
    
    color: #f5f5f5;
}

.rodape .alingH{
    height: 7rem;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
    padding-bottom: 0.5;
    
}



.rodape .alingV{
    flex-wrap: wrap;
    display: flex;
    padding: 1rem;
    padding-bottom: 0.5rem;
    
    
}
.rodape .icon{
    height: 1.2rem;
    padding: .3rem 0;
    display: flex;
    align-items: center;
}

.rodape h5{
    padding-left: 1rem;  
    text-align: center;
    font-size: .7rem;
    
}

.rodape p{   
    padding-left: 2rem;  
    font-size: 0.7rem;
    display: flex;
    position: absolute;
    z-index: 5;
    padding-bottom: 0.4rem;
}

.rodape li {
    padding: 0.5rem;
    width: 100%;
    height: 1rem;
    font-size: 0.7rem;
    text-transform: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a10000;
}

/* -------------------rodape end------------------------- */


