* {
    --primary-color: #1f293b;
    --secondary-color: #e8491d;
    --terciary-color: #8997b7;
    --gray-color: #c4c4c8;
    --darkgray-color: #8d8d8d;
    --hover-color: #fff;
    --white-color: #f5f5f5;
    --backColor: #1f293b;
    /* --backColor: #384972; */
    /* --backColor: #021954; */
    --blue-color: #021954;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
}





.icon {
    height: 2rem;

}

.alingH {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alingV {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

a {
    text-decoration: none;
    color: inherit;
}sidebar


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.container nav ul {
    list-style: none;
    display: flex;
}

.container nav ul li {
    margin-left: 20px;
}

.container nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}










/* -------------------top start------------------------- */
.box_nav .alingH {
    /* height: 7.5rem; */
    padding: 0 1.5rem;


}

.alingV {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

#nav_desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.box_nav {
    background-color: #1f293b;
    display: flex;
    position: relative;
    width: 100%;
    z-index: 200;
}

#img_logo {
    height: 3rem;
}

.logo_div {
    
    padding: 0.5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 85vw;

    flex-direction: column;

}


#logo_line {
    height: 80%;
}


#input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 11rem;
    transform: translate(0, -16px);

}

#input-container2 {
    width: 90%;
    display: flex;

    transform: translate(0, -16px);

}

#inputBusc {
    width: 80%;
    height: 1.2rem;
    padding: 0.5rem;
    transition: .2s linear;
    /* font-size: 0.8rem; */
    letter-spacing: 2px;
    z-index: 1;
    background-color: #dfdede;
    border: none;
}

#inputBusc:focus {
    outline: none;
    /* box-shadow: -7px -9px 0 0 #a10000; */
}

/* -------------------top end------------------------- */


/* -------------------nav start------------------------- */
#sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
}

#sidenav2 {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
}

#sidenav2 .user_div {
    color: var(--backColor);
    font-weight: bold;
}

.box_nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.box_nav li {
    padding: 1rem;
    transition: 0.2s;
    list-style-type: none;
}


.sidenav button {
    background-color: transparent;
    border: none;

    padding: 1rem;

}

.open-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1000;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 10px;
    height: 2rem;
    width: 2.5rem;

    padding: 1rem;
}

.close-btn__ {
    height: 1.5rem;
    display: flex;
    justify-content: end;
    padding: 0.5rem;
}

nav .alingH {
    /* border-bottom: solid 2px #f5f5f5; */
}

.logo_nav {
    height: 8rem;
    width: 4rem;
    position: absolute;
}

.user_div {
    display: flex;
    align-items: end;
    height: 1.4rem;
}

.user_div p {
    padding: 0 1rem;
}

#sideOptConta {
    overflow: hidden;
    width: 0px;
}

#logado__ {
    height: 0;
    width: 250px;


}

.optionsConta_log {
    border-radius: 2;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    z-index: 11;
    top: 5.5rem;
    border-radius: 3px;
    background-color: var(--white-color);
    right: 1rem;
    transition: 0.5s;
    color: var(--primary-color);
}

.optionsConta_log li:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.dropdown_servicos {

    flex-direction: column;
    position: absolute;
    z-index: 100;
    /* border-radius: 3px; */
    background-color: var(--white-color);
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: var(--primary-color);
}

#drop_service {
    display: none;
}

#nav_desktop .dropdown_servicos a {
    padding: 1rem;
    display: flex;
    transition: 0.3s;
    align-items: center;
    width: auto;
}

.dropdown_servicos img {
    height: 1rem;
}

.dropdown_servicos a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

#li_servicos:hover #drop_service {
    display: flex;
}

/* -------------------nav end------------------------- */




.menu_btn2 {
    width: 8em;
    position: relative;
    height: 2.5em;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 0.3s;
    border-radius: 0.3rem;
    /* font-size: 14px; */
    font-weight: bold;
    cursor: pointer;
}

.menu_btn2:hover {
    color: #021954;
}

#icon_log {
    display: flex;
    border-radius: 0.3rem;
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
    padding: 0.5rem 1rem;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    position: relative;

}

.login_div {
    display: flex;
    gap: 8px;
    align-items: center;

}

.singup {

    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    color: var(--white-color);
    padding: .75rem;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

.singup .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.singup .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--secundary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.singup .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--white-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.singup:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
    font-weight: bold;
}

.singup:hover .arrow {
    background: var(--primary-color);


}

.singup:hover .arrow:before {
    right: 0;
    border: solid var(--backColor);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;

}



.close {
    color: #aaa;
    float: right;
    /* font-size: 28px; */
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}







.MobileNot {
    display: none;
    flex-direction: column;
    z-index: 100;
    background-color: var(--backColor);
    height: 100%;
    width: 100%;
    color: #f5f5f5;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    position: fixed;

}

.MobileNot img {
    height: 10rem;
    width: 10rem;


}


.li_desktop {
    position: relative;
    font-size: 80%;
    list-style-type: none;
    /* height: 100%; */
    display: flex;
    z-index: 5;
    border: none;
    flex-wrap: nowrap;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    color: var(--white-color);
}








@media (min-width: 900px) {




    #logo_desktop {
        display: flex;
        /* background-color: #021954; */
        width: 100%;
        justify-content: space-between;
    }

    #logo_mobile {
        display: none;
    }

    .logo_div {
        height: 4rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }

    #icon_menu {
        display: none;
    }

    #nav_desktop {
        display: flex;
        /* padding: 2rem; */
        align-items: center;
        height: 100%;
        width: 50%;



    }

    .li_desktop {
        font-size: 100%;
    }

    .sidenav {
        display: flex;
    }



    #nav_desktop a {
        width: 100%;
        text-decoration: none;
        /* height: 100%; */
        /* position: relative; */
        text-align: center;

    }

    /* linha do bottom */
    .li_desktop::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        border-radius: 10px;
        background-color: var(--secondary-color);
        transition: 0.5s ease;
    }

    .li_desktop:hover {
        /* color: #f5f5f5; */
        font-weight: 600;
        /* transition-delay: 0.3s; */
    }

    .li_desktop:hover::before {
        width: 100%;
    }


    /* background subindo */
    /* .li_desktop::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: #071A5F;
        transition: 0.4s ease;
        z-index: -1;
    }

    .li_desktop:hover::after {
        height: 100%;
        transition-delay: 0.4s;
        color: aliceblue;
    } */












    #nav_desktop button {
        background-color: transparent;
        border: none;
        color: #f5f5f5;



    }

    #links_nav {
        display: flex;
        width: 40%;
        gap: 10px;

        align-items: center;
        justify-content: space-between;


    }

    .box_nav {
        height: auto;
        display: flex;
        flex-direction: column;



    }

    .box_nav .alingH {
        height: 100%;

        display: flex;
        align-items: center;



    }





    .singup{
        padding: 1em 1.8em;
        border-radius: 20px;
    }




}